/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
 .flexgrid {
   max-width: 1000px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto;
 }
 
.flexgrid::before,
.flexgrid::after {
  display: table;
  content: '';
}

.flexgrid::after {
  clear: both;
}

.col-3, .col-4, .col-12 {
   float: left;
   padding-left: calc(10 / 960 * 100%);
   padding-right: calc(10 / 960 * 100%);
   margin-bottom: 20px;
}

/* Mobile width */
.col-3, .col-4, .col-12 {
    width: 100%;
}
 
@media only screen and (min-width: 640px) {
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: calc(4 / 12 * 100%);
  }
   
  .col-12 {
   width: 100%;
  }
}